.arquiteturaContainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 70px;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.arquiteturaContainer h1{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 45px;
}