#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

h2, p, h1, h3, h4, h5{
  margin: 0;
  text-align: start;
}

html, body, #root {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}